{% spaceless %}
{% load i18n humanize extra_tags %}
{% declare %}
    answer_count = questions.children_count('answer')
{% enddeclare %}

<div class="boxC">
    <div class="questions-count">
        {{ questions.paginator.count }}
    </div>
    <span>{{ questions.paginator.sort_description }}</span>

    {% if answer_count %}
    <div class="questions-count">
        {{ answer_count }}
    </div>
    <span>{% trans "answers" %}</span>
    {% endif %}
</div>
{% endspaceless %}